h3{
    color: rgb(0, 0, 139,0.8);
    
}
p{
    font-family: serif;
}
a{
    color: darkgreen;
}
s{
    color: grey;
}
mark{
    color: darkblue;
    background-color: pink;
}
h2{
    text-align: left;
    font-family: sans-serif;
}
pre{
    font-family: monospace;
}
.transparent-text{
    color: rgba(0, 0, 0,0.5);
    opacity: 0.5;
}