h3{
    color: rgba(0, 0, 139,0.8);
    
}
p{
    font-family: Noto Serif, serif;
}
a{
    color: darkgreen;
}
s{
    color: grey;
}
mark{
    color: darkblue;
    background-color: pink;
}
h2{
    text-align: left;
    font-family: Raleway, sans-serif;
}
pre{
    font-family: monospace;
}
.transparent-text{
    color: rgba(0, 0, 0,0.5);
    opacity: 0.5;
}
h1{
    font-family: Raleway, sans-serif;
}
body{
    background-image: url("cross.png");
    background-position: top;
    background-color: #DCF5F5;
}
#content{
    border: 1px solid darkgrey;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
}
.blue{
    color: blue;
    font-family: cursive;
}
.red-border{
    border: 1px solid red;
}
.red-outline{
    outline: 1px solid red;
}
.red-border-div{
    border: 1px solid red;
}
.blue-border-div{
    border: 1px solid blue;
}
.red-border-top{
    border: 1px solid red;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 0;
}
.blue-border-bottom{
    border: 1px solid blue;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 0;
}
.blue-box{
    background-color: blue;
    border: 1px solid red;
    margin: 10px 20px;
}
.yellow-box{
    text-align: right;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    background-color: yellow;
    width: 700px;
    height: 200px;
}
.blue-box-2{
    margin-top: 20px;
    margin: 10px 20px;
    background-color: blue;
    border: 1px solid red;
}
.yellow-box-2{
    text-align: right;
    padding: 12px;
    justify-content: center;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border: 1px solid red;
}
.multi-line{
    font-family: Raleway, serif;
    color: dimgrey;
    line-height: 1.5;
    word-spacing: 0.2em;
    text-align: justify;
}
h4{
    font-family: Raleway, serif;
    font-weight: normal;
}
.fa-facebook-f{
    color: #bfcfd4;
}
.fa-twitter{
    color: #bfcfd4;
}
.fa-share-nodes{
    color: #bfcfd4;
}
.icons{
    justify-content: center;
    align-items: center;
    text-align: center;
}